* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.chess {
  margin: auto;
  width: 35%;
}

.App{
  font-family: "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,";
  
}

body{
  background-color: #CAC3B8

}